# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Build artifacts
/backend/dist

# Logs
*.log
.logs/

# Environment variables
.env*
!/.env.example

# OS-specific
.DS_Store
Thumbs.db
